
<!doctype html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BW Colorizer</title>
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
         
        <div class="container" style="padding:35px 35px 35px 35px ">
        <h1>B&W Colorizer</h1>
        <h2>Colorizer</h2>
        <center>    
        <img src="{{ path2 }}">
        </center>
            
        
        
        </div>
    </body>
</html>   

