
<!doctype html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BW Colorizer</title>
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
         
        <div class="container" style="padding:45px 5px 5px 5px ">
        <h1>B&W Colorizer</h1>
        <h2>Colorizer1</h2>
      
        <div class="card">
            <h5 class="text-center mb-4">Please selet a B&W photo</h5>
            <form class="form-card" action = "./uploader" method = "POST" enctype = "multipart/form-data">
                
                <div class="row justify-content-between text-left">
                    <div class="form-group col-12 flex-column d-flex"> 
                        <label class="form-control-label px-3">Browse a photo <span class="text-danger"> *</span>
                        </label> <input type="file" id="ans" name="ans" placeholder="" "> </div>
                </div>
                <div class="row justify-content-end">
                    <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Request a demo</button> </div>
                </div>
            </form>
        </div>
        
                
        
        </div>
    </body>
</html>   

