<!doctype html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/background.css">
    
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "8ocgfr4kz9");
    </script>

</head>

<body>

    <div class="container" style="padding:35px 35px 35px 35px ">
        <center>

            <h2>AI Center Functions</h2>
            <br><br><br>


            <div class="arxiv-search-form">



                <center>
                    <div class="form-header">
                        arxiv.org search form

                    </div>


                    <div class="form-row d-flex justify-content-center">
                        <div class="form-group mb-2">
                            <form class="form-inline" action="/arxiv" method="POST">
                                <input type="text" readonly class="form-control" id="staticEmail2" value="Search this:">
                                <input type="text" name="Field1" class="form-control" /></p>

                                <button type="submit" value="submit" class="btn btn-primary">Submit</button></p>
                            </form>
                        </div>
                    </div>

                </center>


            </div>
            <div>
                <a href="./BW_Colorizer">
                    <button type="button" class="btn btn-primary">B&W Photo Colorizer</button>
                </a>
            </div>

        </center>




        <br>
        <br>



        <script src="https://unpkg.com/@codersrank/summary@0.9.11/codersrank-summary.min.js"></script>
        <codersrank-summary username="sipocz"></codersrank-summary>






    </div>



</body>

</html>